<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <b>{{ state }}</b>
    <form action='../../user/auth/' method='POST'>{% csrf_token %}
        {% if next %}
		<input type="hidden" name="next" value="{{ next }}" />
		{% endif %}
        <div >
            <label for='username'> Username </label>
            <input type='text' name='username' id='username' value="{{ username }}"/>
            <br>
            <label for='password'>Password </label>
            <input type='password' name='password' id='password' value=""/>
            <br>
            <input type='submit' value='login'>
        </div>
    </form>
    <a href="/deadlines/user/signup/">Not Registered? Sign Up!</a>
</body>
</html>